.add-form {
  background: #d3eca7;
  box-shadow: 5px 5px 10px #c4d5a2, -5px -5px 10px #c4d5a2;
  border-radius: 10px;
  margin: 6px 12px;
  padding: 24px;
  display: flex;
  flex-direction: column;
  flex: 1;
  min-height: 60vh;
  align-items: center;
}

.form-item {
  margin: 12px 0px;
  width: 90%;
  padding: 4px;
  border-radius: 6px;
  background-color: white;
}

.form-item label {
  padding: 2px 12px;
  border-radius: 0px 4px 8px 8px;
}

.form-item input {
  font-size: 15px;
  border: none;
  outline: none;
  width: 70%;
  margin-left: 10px;
}

.category-container-father {
  display: flex;
  flex: 1;
  flex-direction: column;
  width: 91%;
}

.category {
  position: relative;
}

.category-dropdown {
  display: flex;
  justify-content: space-between;
  background-color: white;
  align-items: center;
  margin: 12px 0px;
  border-radius: 6px;
  padding: 4px;
}

.category-dropdown label{
margin-left: 10px;
}

.category-container {
  display: flex;
  position: absolute;
  width: 100%;
  flex-direction: column;
  background-color: white;
}

.category-item {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 2px 0px 2px 0px;
  cursor: pointer;
  align-items: center;
}

.category-item:hover{
    background-color: #EEEEEE;
}

.category-item label{
    margin-left: 10px;
    text-align: center;
    font-size: 15.5px;
}
.category-item img {
  height: 35px;
  margin-right: 20px;
}

.form-button {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.form-button button {
    width: 40%;
    padding: 10px 16px 10px 16px;
    margin: 8px 16px 8px 16px;
    outline: none;
    border: none;
    border-radius: 6px;
    background-color: #19282F;
    color:white;
    font-size: 16px;
    font-weight: bold;

}

@media only screen and (max-width: 1024px) {
  .form-item {
    width: 100%;
  }
  .form-item input {
    width: 70%;
  }
  .amount-input {
    width: 50% !important;
  }
}

@media only screen and (max-width: 1024px) {
  .category-container-father {
    width: 102%;
  }
}

@media only screen and (max-width: 600px) {
    .amount-input {
        width: 70% !important;
      }

      .form-button button {
        width: 80%;
        
    
    }
}