.add-form{
    background:  #D3ECA7;
    box-shadow:  20px 20px 60px #c4d5a2,
                 -20px -20px 60px #c4d5a2;
    border-radius: 5px;
    margin: 6px 12px;
    padding: 24px;
    display: flex;
    flex-direction: column;
    flex: 1;
    min-height: 60vh;
}

.form-item{
    margin: 12px 0px;
    width: 70%;
    padding: 4px;
    border-radius: 6px;
    background-color: white;
}

.form-item label {
    padding: 2px 12px;
    border-radius: 0px 4px 8px 8px;
}

.form-item input {
    font-size: 16px;
    border: none;
    outline: none;
    width: 70%;
}

.category-container-father {
    display: flex;
    flex: 1;
    flex-direction: column;
}

.category {
    position: relative;
    width: 71.5%
}

.category-dropdown{
    display: flex;
    justify-content: space-between;
    background-color: white;
    align-items: center;
    margin: 12px 0px;
    border-radius: 6px;
    padding: 4px;
}

.category-container{
    display: flex;
    position: absolute;
    width: 100%;
    flex-direction: column;
    background-color: white;
}

.category-item{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 8px 0px;
    cursor: pointer
}

.category-item img {
    height: 35px;
    margin-right: 20px;
}

@media only screen and (max-width:1024px) {
    .form-item{
        width: 100%;
    }
    .form-item input {
        width: 70%;
    }
    .amount-input{
        width: 50% !important
    }
    .category{
        width: 80%
    }
}