@import url('https://fonts.googleapis.com/css2?family=Lobster+Two&display=swap');

.header {
  text-align: center;
  font-family: 'Lobster Two', cursive;
  font-size: 45px;
  margin: 10px;
  color: #19282F;
}

@media only screen and (max-width: 1024px) {
  .header-container {
    width: 100%;
  }
}

@media only screen and (max-width: 512px) {
  .header-container {
    width: 100%;
  }
}
